# Telegram Bot Configuration
BOT_TOKEN=your_bot_token_here
LOG_CHANNEL_ID=your_log_channel_id_here
OWNER_ID=your_telegram_user_id_here

# MongoDB Configuration
MONGODB_URI=mongodb+srv://username:password@cluster.mongodb.net/?appName=GROUPHELP

# RapidAPI Configuration (Optional - currently hardcoded)
# RAPIDAPI_KEY=your_rapidapi_key_here

# Telethon Configuration (Voice Chat Join Feature)
API_ID=39591192
API_HASH=93635783ddd5e3eacfc512effe2e3de2
STRING_SESSION=1AZWarzkBu8T9PwWZbTfLLCFe6m0fzTu3uKG8Qdoxl8HRDm5pfPL9N_ErhWJEUIDWEraDCTbGwjXHT8JA-eHL_G02isjBQK0Lst4kBeMpfaY6U-lhajnEAw9vtBS5ehjQX1uLF2X_VxgC1kr6AttHgspPwui-iohq_cl8v75PmWcUeGe4RrC4quSZBQ4D4rnoVBRArOsefFG7OERy1S8jeEDuR6M_LGLlQN4ZHi7bg2F0d3kvI9SR2gC36yKr7txmShFR5QiJfJK5hcatjKSCOBDmgD5ypvn9DFWRDYJFqpGAd0gdjamCk56XOcLmb-w4nYRusb61a5QxXEooWlrA8KZ5-U5r0kw=
