[Unit]
Description=Titanic Saver Bot Service
After=network.target mongodb.service

[Service]
Type=simple
User=root
WorkingDirectory=/root/bot
ExecStart=/usr/bin/python3 bot.py
Restart=always
RestartSec=10
StandardOutput=append:/root/bot/bot.log
StandardError=append:/root/bot/bot.log

[Install]
WantedBy=multi-user.target
